.dshExitFullScreenButton {
  text-align: center;
  width: 100%;
  height: 0;
  bottom: 0;
  position: absolute;
}

/**
 * 1. override the z-index: 1 applied to all non-eui elements that are in :focus via kui
 *      - see packages/kbn-ui-framework/src/global_styling/reset/_reset.scss
 */

.dshExitFullScreenButton__mode {
  height: $euiSizeXXL;
  left: 0;
  bottom: 0;
  position: fixed;
  display: block;
  padding: 0;
  border: none;
  background: none;
  z-index: 5;

  &:hover,
  &:focus {
    transition: all $euiAnimSpeedExtraSlow $euiAnimSlightResistance;
    z-index: 10 !important; /* 1 */

    .dshExitFullScreenButton__text {
      transition: all $euiAnimSpeedNormal $euiAnimSlightResistance;
      transform: translateX(-$euiSize);
    }
  }
}

.dshExitFullScreenButton__logo {
  display: block;
  background-color: shadeOrTint(#000000, 25%, 25%);
  height: $euiSizeXXL;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='141mm' height='55.739mm' version='1.1' viewBox='0 0 141 55.739' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title/%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Ctext x='70' y='22' fill='%23ffffff' font-family='Sans' font-size='16' stroke='%23ffffff'%3EGrimoire %3C/text%3E%3Ctext x='70' y='48' fill='%23ffffff' font-family='Sans' font-size='13' stroke='%23ffffff'%3EDashboard %3C/text%3E%3Cg transform='translate(-46.979 -155.87)' fill='%23fff'%3E%3Cpath d='m74.848 155.87c-15.392 0-27.869 12.478-27.869 27.87 0 15.392 12.478 27.869 27.869 27.869 15.392 0 27.87-12.477 27.87-27.869 0-15.392-12.478-27.87-27.87-27.87zm-0.18283 2.3281s0.4408-1.0806 0.83767 0c0.39688 1.08 2.2495 6.4384 3.021 12.127 0 0-3.3708 1.5846-6.8792 0 0 0 0.46249-6.196 3.0205-12.127zm-3.6195 12.598c-0.13732 1.611-1.4952 2.4852-1.4952 2.4852 1.4155 2.5429 5.4626 2.8623 5.4626 2.8623s4.1439-0.29342 5.5068-2.8654c0 0-1.3766-0.84587-1.5473-2.4535 0 0 8.3278-0.63764 15.387 7.1059 0 0-7.3271-3.2049-19.299 0.0894-12.037-3.0459-19.252 0.19949-19.252 0.19949 6.8966-7.888 15.237-7.4234 15.237-7.4234zm11.036 9.2083c1.9844 0.33338 2.7837 0.16537 2.7837 0.16537 0.83767 0.92604 1.1684 1.6759 1.1684 1.6759s-8.8077-1.2843-10.804 0c0.43921-4.7493 5.8658-2.0071 6.8519-1.8412zm-7.4044 1.8412c-1.9958-1.2843-10.804 0-10.804 0s0.33073-0.74983 1.1684-1.6759c0 0 0.79931 0.16801 2.7837-0.16537 0.98663-0.16589 6.413-2.908 6.8519 1.8412zm-10.075 25.486c-2.7355 0.75909-6.7469-7.4528-7.5406-10.363-3.7042-1.3668-8.0261-11.245-6.4823-13.273 5.1038-8.9408 19.887-5.5562 19.887-5.5562-10.672-1.5436-15.081 2.4694-15.081 2.4694 1.5436-0.74956 3.4563-0.95911 3.4563-0.95911-4.1894 7.4083-2.2214 15.158-2.2214 15.158-0.61754-12.171 4.0135-15.434 4.0135-15.434 2.9541-0.79375 4.4532 0 4.4532 0-4.4442 1.6502-4.9668 15.532-1.9844 24.254 2.3032 6.7344 3.9248-5.8208 3.9248-5.8208-0.04736 9.1776-2.4252 9.525-2.4252 9.525zm8.2362-9.2197s-5.1594-0.26352-7.3422-1.5864l-2.6374-14.254s5.1951-0.82894 10.134-0.42571c0 0 0.54002 0.43709 1.9706 0.44661 1.4303-0.01 1.9704-0.44661 1.9704-0.44661 4.9392-0.40296 9.8692 0.42598 9.8698 0.42571l-2.373 14.254c-2.1828 1.3229-7.3422 1.5864-7.3422 1.5864-0.62415 0.84693-3.6256 0.84693-4.25 0zm19.818-1.2732c-0.79375 2.9104-4.8054 11.122-7.5406 10.363 0 0-2.3775-0.34767-2.4252-9.525 0 0 1.6216 12.555 3.9248 5.8208 2.9826-8.722 2.4598-22.603-1.9844-24.254 0 0 1.4991-0.79375 4.4535 0 0 0 4.6307 3.2634 4.0132 15.434 0 0 1.968-7.7499-2.2214-15.159 0 0 1.9127 0.20955 3.4563 0.95911 0 2.7e-4 -4.4095-4.0129-15.081-2.4694 0 0 14.784-3.3843 19.888 5.5562 1.5433 2.0283-2.7784 11.906-6.4826 13.273z' stroke='%23fff' stroke-width='.26458'/%3E%3Cpolygon transform='matrix(.26458 0 0 .26458 39.75 -82.556)' points='113.31 1014.5 117.24 1014.5 116.5 1003.7 97.386 1024.7 118.04 1053.2 117.32 1023.3 109.85 1022.9 109.77 1026.6 113.83 1026.9 114.13 1040.8 102.28 1025.3 113.28 1012.7'/%3E%3Cpolygon transform='matrix(.26458 0 0 .26458 39.75 -82.556)' points='155.7 1026.6 155.63 1022.9 148.15 1023.3 147.44 1053.2 168.09 1024.7 148.97 1003.7 148.24 1014.5 152.16 1014.5 152.19 1012.7 163.2 1025.3 151.34 1040.8 151.64 1026.9'/%3E%3C/g%3E%3C/svg%3E%0A");
  // These numbers are very specific to the Kibana logo size
  width: 92px;
  background-position: 8px 5px;
  background-size: 72px 30px;
  background-repeat: no-repeat;

  z-index: $euiZLevel1;
}

/**
 * 1. Calc made to allow caret in text to peek out / animate.
 */

.dshExitFullScreenButton__text {
  background: #333333;
  color: $euiColorEmptyShade;
  line-height: $euiSizeXXL;
  display: inline-block;
  height: $euiSizeXXL;
  position: absolute;
  left: calc(100% + #{$euiSize}); /* 1 */
  top: 0px;
  bottom: 0px;
  white-space: nowrap;
  padding: 0px $euiSizeS 0px $euiSizeM;
  transition: all .2s ease;
  transform: translateX(-100%);
  z-index: -1;
}
