<div
  class="kuiLocalNav"
  ng-show="kbnTopNav.isVisible()"
  data-test-subj="top-nav"
>

<div class="kuiLocalNavRow theme-dark newLocalNav">
  <div class="kuiLocalNavRow__section">
    <div class="kuiLocalBreadcrumbs">
      <div class="kuiLocalBreadcrumb">
        <a class="kuiLocalBreadcrumb__link extra_title" href="#">
          {{$root.appTitleCustom}}
        </a>
      </div>

    </div>
  </div>

  <div class="kuiLocalNavRow__section">
    <div class="kuiLocalMenu">
      <div class="kuiLocalMenuItem extra" ng-mouseover="showInfo(name, 'panel')">
        Example of Selected item
      </div>
      <div class="kuiLocalMenuItem" ng-mouseover="showInfo(name, panel)" ng-click="showInfo(name, panel)" ng-repeat="(name, panel) in $root.metadash">
        {{name}}
      </div>
    </div>
  </div>
</div>
<div class="kuiLocalDropdown newLocalDropdown" ng-show="showNewMenu" ng-mouseleave="showNewMenu = false; parentDashboard = undefined">
  <!-- Dropdown close button -->

  <div className="kuiLocalDropdownPanels">
    <div class="col-md-2">
      <div class="newLocalDropdownTitle">{{parentDashboard}}
      <button class="kuiLocalDropdownCloseButton" ng-click="showNewMenu = false" >
        <span class="fa fa-chevron-circle-up" style="color:white;"></span>
      </button>
    </div>
      <div>
        <ul class="list-unstyled">
          <li ng-repeat="(subitemName, subitemValue) in currentPanelsons_first" class="ng-scope">
            <a ng-mouseover="showDescription(subitemName, subitemValue)" ng-mouseleave = "hideDescription()" class="kuiLink submenuitem" tabindex="0" role="button" href="#/dashboard/{{subitemValue}}">{{subitemName}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
      <div style="margin-top: 25px">
        <ul class="list-unstyled">
          <li ng-repeat="(subitemName, subitemValue) in currentPanelsons_second" class="ng-scope">
            <a ng-mouseover="showDescription(subitemName, subitemValue)" ng-mouseleave = "hideDescription()" class="kuiLink submenuitem" tabindex="0" role="button" href="#/dashboard/{{subitemValue}}">{{subitemName}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
      <div style="margin-top: 25px">
        <ul class="list-unstyled">
          <li ng-repeat="(subitemName, subitemValue) in currentPanelsons_third" class="ng-scope">
            <a ng-mouseover="showDescription(subitemName, subitemValue)" ng-mouseleave = "hideDescription()" class="kuiLink submenuitem" tabindex="0" role="button" href="#/dashboard/{{subitemValue}}">{{subitemName}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6" style="margin-top: 20px" ng-show="showDescriptionDiv">
      <div class="newLocalDropdownTitle">{{ descriptionTitle }} - Put title here</div>

      <div class="newLocalDropdownText">
        {{ descriptionContent }} - Put description here
      </div>
    </div>

  </div>

  <!--div class="submenupicker">
    <h2 class="kuiLocalDropdownTitle">
      {{parentDashboard}}
    </h2>
    <ul class="list-unstyled">
      <li ng-repeat="(subitemName, subitemValue) in currentPanelsons" class="ng-scope">
        <a class="kuiLink submenuitem" tabindex="0" role="button" href="#/dashboard/{{subitemValue}}">{{subitemName}}</a>
      </li>
    </ul>
  </div-->
</div>

  <!-- Top row -->
  <div class="kuiLocalNavRow">
    <!-- Top left corner slot, e.g. breadcrumbs, title. -->
    <div
      class="kuiLocalNavRow__section"
      data-transclude-slot="topLeftCorner"
    ></div>

    <!-- Right-side: menu -->
    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalMenu">
        <button
          class="kuiLocalMenuItem"
          ng-repeat="menuItem in kbnTopNav.menuItems"
          aria-label="{{::menuItem.description}}"
          aria-haspopup="{{!menuItem.hasFunction}}"
          aria-expanded="{{kbnTopNav.isCurrent(menuItem.key)}}"
          ng-class="{'kuiLocalMenuItem-isSelected': kbnTopNav.isCurrent(menuItem.key), 'kuiLocalMenuItem-isDisabled': menuItem.disableButton()}"
          ng-click="kbnTopNav.handleClick(menuItem)"
          ng-bind="menuItem.label"
          tooltip="{{menuItem.tooltip()}}"
          tooltip-placement="bottom"
          tooltip-popup-delay="400"
          tooltip-append-to-body="1"
          data-test-subj="{{menuItem.testId}}"
        ></button>

        <!-- Time-picker "menu item" -->
        <kbn-global-timepicker></kbn-global-timepicker>
      </div>
    </div>
  </div>

  <!-- Dropdown content, e.g. time-picker. -->
  <div
    class="kuiLocalDropdown"
    ng-show="kbnTopNav.rendered"
  >
    <button class="kuiLocalDropdownCloseButton" ng-click="kbnTopNav.close()" aria-label="Close">
      <span class="kuiIcon fa-chevron-circle-up"></span>
    </button>
    <div id="template_wrapper">
      <!-- Content gets dynamically inserted here. -->
    </div>
  </div>

  <div class="kuiLocalNavRow kuiLocalNavRow--secondary">
    <!-- Bottom row slot, e.g. tabs. -->
    <div data-transclude-slot="bottomRow"></div>
  </div>
</div>