.newLocalNav {
    background-color: #333;
    height: 40px;
}

.newMenuItem,  .newLocalDropdownTitle{
    color: #cecece !important;
    font-size: 14px !important;
}

.newLocalDropdown {
    background-color: #525252 !important;
}

.extra {
    background-color: #f49e42 !important;
    color: #FFF !important;
}

.extra_title {
    color: rgb(252, 180, 46) !important;
    padding-right: 20px;
}
.extra_title:hover {
    color: rgb(255, 200, 98) !important;
}
